header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  max-width: 940px;
  margin: 0 auto;
  border-radius: 0 0 12px 12px;

    h1 {
      color: #0470ab;
      margin-left: 2%;
      padding: 1%;
      font-size: 4rem;
    }
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-right: 2%;
  font-size: 2rem;

    a {
      font-weight: bold;
      text-decoration: none;
      color: #253b56;
      padding: 10px;
    }
}
