.container {
  width: 940px;
  background-color: white;
  margin: 20px auto 0;
  border-radius: 12px;
}

.hr {
  width: 90%;
  margin: 0 5%;
  border: 1px solid #A1AFC0;
}

.callToAction {
  position: relative;
  
  img {
    border-radius: 12px;
    width: 90%;
    margin: 5%;
    position: relative;  
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }

  .topText {
    text-align: center;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    h1 {
      font-size: 4rem;
      letter-spacing: 1px;
    }
  }

  .btn {
    text-align: center;
    color: white;
    background-color: #6FA623;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 5px 50px;
    border-radius: 12px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.about {
  width: 90%;
  margin: 0 5% 5% 5%;

  h2 {
    text-align: center;
    font-size: 2.8rem;
    letter-spacing: 3px;
  }

  p {
    color: #253B56;
    font-size: 1.8rem;
    line-height: 27px;
    text-align: center;
    padding: 2%;
  }
}

.features {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  .featureBox {

  }
}
